@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  /* Premium Dark Emerald & Warm Cream Base */
  --background: #F4F1EA;
  --foreground: #0B2F1D;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Custom Webkit Scrollbar Khas Moslem Arttack */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #EAE5D8;
}
::-webkit-scrollbar-thumb {
  background: #0B2F1D;
  border-radius: 5px;
  border: 2px solid #EAE5D8;
}
::-webkit-scrollbar-thumb:hover {
  background: #C5925E;
}
